* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  background-color: #2b0996;
  color: #ffffff;
  padding: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 1px 8px #5a5a5a;
}

.button-drawer-menu {
  align-items: center;
  justify-content: center;
}

.button-drawer-menu-icon {
  font-size: 2rem;
  margin-top: 2px;
  color: #ffffff;
}

.logo {
  display: flex;
  flex: 1;
  margin-right: 20px;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
  font-weight: 500;
  font-family: 'Libre Baskerville';
}

.label-news-categories {
  padding-left: 18px;
  height: 4.1rem;
  color: #ffffff;
  font-size: 1.25rem;
  background-color: #111111;
  display: flex;
  align-items: center;
}

.news-container {
  width: 65%;
  margin: 20px auto;
  font-family: 'Roboto';
}

.news-card {
  width: 100%;
  display: flex;
  margin-top: 20px;
  flex-direction: row;
  box-shadow: 0px 1px 8px #5a5a5a;
  padding: 10px 30px 10px 10px;
  border-radius: 3px;
  background-color: #fafafa;
}


.news-img img {
  width: 15rem;
  height: 100%;
  object-fit: cover;
  border-radius: 2px;
}

.news-content {
  margin-left: 25px;
  display: flex;
  flex-direction: column;
}

.news-title {
  color: #222222;
  font-size: 1.3rem;
  font-weight: 300;
}

.news-author {
  color: #333333;
  font-size: 0.9rem;
  font-weight: 300;
  margin-top: 5px;
}

.news-description {
  margin-top: 10px;
  color: #333333;
  font-size: 0.95rem;
  font-weight: 300;
}

.news-url {
  margin-top: 20px;
  margin-bottom: 10px;
}

.news-url a {
  text-decoration: none;
  color: #333333;
  font-size: 0.85rem;
}